@import url("https://fonts.google.com/specimen/Poppins");
* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
}

.container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header h1 {
    font-weight: bold;
    font-size: 5rem;
    color: #404040;
}

.header p {
    font-size: 2rem;
    color: #101010;
}

input {
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: #fefefe;
    border-radius: 8px;
    color: #404040;
    font-weight: bolder;
    font-size: 1rem;
}

input:focus {
    outline: none;
}

.user-card{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 15px;
}

.image img {
    height: 256px;
    object-fit: cover;
    border-radius: 50%;
}

ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 200px;
}

.more-info {
    position: relative;
}

@media screen and (max-width: 768px) {}