@import url("https://fonts.google.com/specimen/Poppins");
* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
}

.container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header h1 {
    font-weight: bold;
    font-size: 5rem;
    color: #404040;
}

.header p {
    font-size: 2rem;
    color: #101010;
}

@media screen and (min-width: 781px) {}