.ribbon {
    justify-content: center;
    text-align: center;
    align-items: center;
}

.ribbon a {
    position: relative;
    padding: 5px 40px;
    background-color: #010101;
    color: #fefefe;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    line-height: 2rem;
    transition: 1s;
}

.ribbon a:hover {
    background-color: #3e3e3e;
    color: #ffffff;
}

.ribbon a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    left: 0;
    top: 1px;
    background-color: #fefefe;
}

.ribbon a::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 1px;
    background-color: #fefefe;
}

.ribbon a {
    position: absolute;
    width: 240px;
    right: -55px;
    top: 45px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

@media screen and (max-width: 768px) {
    .ribbon {
        position: fixed;
        display: block;
        width: 250px;
        height: 250px;
        right: 0;
        top: 0;
        overflow: hidden;
    }
}